{% extends '@VDM/layout.html.twig' %}

{% block content %}
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mes dernières VDM</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-flui">
            <div class="row">
                {% for article in articles %}
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="row service-box">
                            {#<i class="fa fa-4x fa-diamond text-primary sr-icons"></i>#}
                            <h3>{{ article.title }}</h3>
                            <p class="text-muted">{{ article.content }}</p>
                            <p class="text-muted">{{ article.datePost|date('d-m-Y') }}</p>
                            {% if app.user is null %}
                                <!-- Trigger the modal with a button -->
                                <a data-toggle="modal" data-target="#myModal"><i class="fa fa-2x fa-thumbs-o-up text-primary sr-icons" aria-hidden="true"></i></a>

                                <!-- Modal -->
                                <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Ohhhh ouiiii, viens chercher bonheur</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">Se connecter</a>
                                                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">S'enregistrer</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            {% else %}
                                {% if like_button == false and like_button is defined %}
                                    <!-- Trigger the modal with a button -->
                                    <a data-toggle="modal" data-target="#myModal"><i class="fa fa-2x fa-thumbs-o-up pouce_green sr-icons" aria-hidden="true"></i></a>

                                    <!-- Modal -->
                                    <div id="myModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>On a voulu niker Patrick ????</p>
                                                    <p>Tu as déja voté</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <a href="{{ path('like', { 'article': article.id, 'user': app.user.id }) }}">
                                        <i class="fa fa-2x fa-thumbs-o-up pouce_red sr-icons" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            Nb like: {{ article.users|length }}
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="row">
                                <a href="{{ path('_edit', { 'id': article.id }) }}">Editer</a>
                                <a href="{{ path('_delete', { 'id': article.id }) }}">Supprimer</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                {% for categorie in categories %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="portfolio-box">
                            {% if categorie.title == constant('VDMBundle\\Entity\\Categorie::MOUTARDE') %}
                                <img src="{{ asset('bundles/vdm/img/histoire_moutarde.png') }}" class="img-responsive" height="100%" alt="">
                            {% elseif categorie.title == constant('VDMBundle\\Entity\\Categorie::HOTDOG') %}
                                <img src="{{ asset('bundles/vdm/img/histoire_hotdog.png') }}" class="img-responsive" height="100%" alt="">
                            {% elseif categorie.title == constant('VDMBundle\\Entity\\Categorie::APOIL') %}
                                <img src="{{ asset('bundles/vdm/img/a_poil.jpg') }}" class="img-responsive" height="100%" alt="">
                            {% elseif categorie.title == constant('VDMBundle\\Entity\\Categorie::CELIB') %}
                                <img src="{{ asset('bundles/vdm/img/celib.jpg') }}" class="img-responsive" height="100%" alt="">
                            {% endif %}
                            <a href="{{ path('vdmByCateg', { 'id': categorie.id }) }}">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-name">
                                            {{ categorie.title }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
