{% extends '@VDM/layout_admin.html.twig' %}

{% block content %}
<div class="container">
    <h1 class="text-center title_section">Edition de la VDM {{ article.title }}</h1>

    {{ form_start(edit_form) }}

        <div>
            {{ form_label(edit_form.title) }}
            {{ form_widget(edit_form.title) }}
            {{ form_errors(edit_form.title) }}
        </div>
        <div>
            {{ form_label(edit_form.content) }}
            {{ form_widget(edit_form.content) }}
            {{ form_errors(edit_form.content) }}
        </div>
        <div>
            {{ form_label(edit_form.picture.file) }}
            {{ form_widget(edit_form.picture.file) }}
            {{ form_errors(edit_form.picture.file) }}
        </div>
        <div>
            {{ form_label(edit_form.categorie) }}
            {{ form_widget(edit_form.categorie) }}
            {{ form_errors(edit_form.categorie) }}
        </div>

        <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Modifier" />
    {{ form_end(edit_form) }}

</div>
{% endblock %}
