{% extends '@VDM/layout_admin.html.twig' %}

{% block content %}
<div class="container">
    <h1 class="text-center title_section">Article creation</h1>

    {{ form_start(form) }}

        <div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div>
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
        </div>
        <div>
            {{ form_label(form.picture.file) }}
            {{ form_widget(form.picture.file) }}
            {{ form_errors(form.picture.file) }}
        </div>
        <div>
            {{ form_label(form.categorie) }}
            {{ form_widget(form.categorie) }}
            {{ form_errors(form.categorie) }}
        </div>

        <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Créer" />
    {{ form_end(form) }}

</div>
{% endblock %}
